<div>
    <h2>Lista de Compras</h2>
  
    <form (submit)="addItem()">
      <input type="text" [(ngModel)]="newItem" name="newItem" placeholder="Adicione um item" required>
      <button type="submit">Adicionar</button>
    </form>
  
    <div class="lista">
        <div class="card">
            <h3>Itens Não Comprados</h3>
            <ul>
              <li *ngFor="let item of items; let i = index">
                <ng-container *ngIf="!item.bought">
                  <div *ngIf="item.editing" class="editing">
                    <input type="text" [(ngModel)]="item.name" name="itemName{{i}}" (blur)="saveItem(item, item.name)" required>
                    <button (click)="saveItem(item, item.name)"><i class="fas fa-save"></i></button>
                  </div>
        
                  <div *ngIf="!item.editing" class="editing">
                    <span>{{ item.name }}</span>
                    <button (click)="editItem(item)"><i class="fas fa-edit"></i></button>
                    <button (click)="toggleBought(item)"><i class="fas fa-check"></i></button>
                    <button (click)="deleteItem(i)"><i class="fas fa-trash"></i></button>
                  </div>
                </ng-container>
              </li>
            </ul>
          </div>
        
          <div class="card">
            <h3>Itens Comprados</h3>
            <ul>
              <li *ngFor="let item of items; let i = index">
                <ng-container *ngIf="item.bought">
                  <span style="text-decoration: line-through;">{{ item.name }}</span>
                  <button (click)="toggleBought(item)"><i class="fas fa-undo"></i></button>
                  <button (click)="deleteItem(i)"><i class="fas fa-trash"></i></button>
                </ng-container>
              </li>
            </ul>
          </div>
    </div>
  </div>
  