<div>
  <nav>
    <ul>
      <button class="logout-button" (click)="logout()">Logout</button>
    </ul>
  </nav>

  <h2>Lista de Compras</h2>

  <form (submit)="addItem()">
    <input type="text" [(ngModel)]="newItem" name="newItem" placeholder="Adicione um item" required />
    <input type="number" [(ngModel)]="newPrice" name="newPrice" placeholder="Preço" required min="0" step="0.01" />
    <button type="submit">Adicionar</button>
  </form>

  <div class="lista">
    <div class="card">
      <h3>Itens Não Comprados</h3>
      <ul>
        <li *ngFor="let item of items; let i = index">
          <ng-container *ngIf="!item.included">
            <div *ngIf="item.editing" class="editing">
              <input type="text" [(ngModel)]="item.title" name="itemName{{ i }}" required />
              <input type="number" [(ngModel)]="item.price" name="itemPrice{{ i }}" required min="0" step="0.01" />
              <button (click)="saveItem(item, item.title, item.price)"><i class="fas fa-save"></i></button>
            </div>
            <div *ngIf="!item.editing" class="viewing">
              <span>{{ item.title }} - {{ item.price | currency }}</span>
              <button (click)="editItem(item)"><i class="fas fa-edit"></i></button>
              <button (click)="toggleBought(item)"><i class="fas fa-check"></i></button>
              <button (click)="deleteItem(i)"><i class="fas fa-trash"></i></button>
            </div>
          </ng-container>
        </li>
      </ul>
    </div>

    <div class="card">
      <h3>Itens Comprados</h3>
      <ul>
        <li *ngFor="let item of items; let i = index">
          <ng-container *ngIf="item.included">
            <span style="text-decoration: line-through;">{{ item.title }} - {{ item.price | currency }}</span>
            <button (click)="toggleBought(item)"><i class="fas fa-undo"></i></button>
            <button (click)="deleteItem(i)"><i class="fas fa-trash"></i></button>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</div>
